<div class="sisyphus-unavailable-tmp">
    <div class="app-container bg-white">
        <div class="hh50 w100 bg-black no-stuffing h__k"
            data-template="sisyphus-header-default-tmp"
        ></div>
        <div class="bg-white black pl40 pr40 h__k" data-model="{{= model.sisbot_id }}">
            <p class="no-stuffing fa fa-exclamation-triangle f-xxxlarge red center w100 mt40" aria-hidden="true"></>
            <div class="h__k" data-if="{{= model.data.reason_unavailable }} == false">
                <h3 class="m0 pt30 pb20 center justify fs24 lh24">
                    Connection Lost!
                </h3>
                <p class="center fs18 lh24">
                    The connection with your Sisyphus table has been lost and could not be restored
                </p>
                <p class="pt20 center fs18 lh24 h__k" data-if="{{= model.is_polling }} == true">
                    Attempting to reconnect now.
                </p>
                <div class="pb20">
                    <p class="w100 mb20 p15 center btn bg-blue corner-5px fs18 lh18 uppercase h__k"
                        data-if="{{= model.is_polling }} == false"
                        data-on-click="parent.open_support_page"
                    >Learn How To Fix</p>
                    <p class="w100 mt50 mb100 p15 center blue fs18 lh18 uppercase clickable h__k"
                        data-if="{{= model.is_polling }} == false"
                        data-on-click="model._poll_then_reset"
                    >Retry Connecting</p>
                    <div class="p20 center i black h__k" data-if="{{= model.is_polling }} == true">
                        <div class="h__k mb20 black" data-template="spinner-bounce-tmp"></div>
                        <div class="h__k fs18 lh18">
                            Reconnecting...
                        </div>
                    </div>
                </div>
            </div>
            <div class="h__k" data-if="{{= model.data.reason_unavailable }} == resetting">
                <h3 class="m0 pt30 pb20 center justify fs24 lh24">
                    Connection Lost!
                </h3>
                <p class="center fs18 lh24">
                    A restart is required for these settings to take effect. Your Sisyphus table is restarting.
                    Please wait 30 seconds and retry connecting.
                </p>
                <p class="pt20 center fs18 lh24 h__k" data-if="{{= model.is_polling }} == true">
                    Attempting to reconnect now.
                </p>
                <div class="pb20">
                    <p class="w100 mb20 p15 center btn bg-blue corner-5px fs18 lh18 uppercase h__k"
                        data-if="{{= model.is_polling }} == false"
                        data-on-click="parent.open_support_page"
                    >Learn How To Fix</p>
                    <p class="w100 mt50 mb100 p15 center blue fs18 lh18 uppercase clickable h__k"
                        data-if="{{= model.is_polling }} == false"
                        data-on-click="model._poll_then_reset"
                    >Retry Connecting</p>
                    <div class="p20 center i black h__k" data-if="{{= model.is_polling }} == true">
                        <div class="h__k mb20 black" data-template="spinner-bounce-tmp"></div>
                        <div class="h__k fs18 lh18">
                            Reconnecting...
                        </div>
                    </div>
                </div>
            </div>
            <div class="h__k" data-if="{{= model.data.reason_unavailable }} == rebooting">
                <h3 class="m0 pt30 pb20 center justify fs24 lh24">
                    Connection Lost!
                </h3>
                <p class="center fs18 lh24">
                    A restart is required for these settings to take effect. Your Sisyphus table is restarting.
                    Please wait 30 seconds and retry connecting.
                </p>
                <p class="pt20 center fs18 lh24 h__k" data-if="{{= model.is_polling }} == true">
                    Attempting to reconnect now.
                </p>
                <div class="pb20">
                    <p class="w100 mb20 p15 center btn bg-blue corner-5px fs18 lh18 uppercase h__k"
                        data-if="{{= model.is_polling }} == false"
                        data-on-click="parent.open_support_page"
                    >Learn How To Fix</p>
                    <p class="w100 mt50 mb100 p15 center blue fs18 lh18 uppercase clickable h__k"
                        data-if="{{= model.is_polling }} == false"
                        data-on-click="model._poll_then_reset"
                    >Retry Connecting</p>
                    <div class="p20 center i black h__k" data-if="{{= model.is_polling }} == true">
                        <div class="h__k mb20 black" data-template="spinner-bounce-tmp"></div>
                        <div class="h__k fs18 lh18">
                            Reconnecting...
                        </div>
                    </div>
                </div>
            </div>
            <div class="h__k" data-if="{{= model.data.reason_unavailable }} == restarting">
                <h3 class="m0 pt30 pb20 center justify fs24 lh24">
                    Connection Lost!
                </h3>
                <p class="center fs18 lh24">
                    A restart is required for these settings to take effect. Your Sisyphus table is restarting.
                    Please wait 30 seconds and retry connecting.
                </p>
                <p class="pt20 center fs18 lh24 h__k" data-if="{{= model.is_polling }} == true">
                    Attempting to reconnect now.
                </p>
                <div class="pb20">
                    <p class="w100 mb20 p15 center btn bg-blue corner-5px fs18 lh18 uppercase h__k"
                        data-if="{{= model.is_polling }} == false"
                        data-on-click="parent.open_support_page"
                    >Learn How To Fix</p>
                    <p class="w100 mt50 mb100 p15 center blue fs18 lh18 uppercase clickable h__k"
                        data-if="{{= model.is_polling }} == false"
                        data-on-click="model._poll_then_reset"
                    >Retry Connecting</p>
                    <div class="p20 center i black h__k" data-if="{{= model.is_polling }} == true">
                        <div class="h__k mb20 black" data-template="spinner-bounce-tmp"></div>
                        <div class="h__k fs18 lh18">
                            Reconnecting...
                        </div>
                    </div>
                </div>
            </div>
            <div class="h__k" data-if="{{= model.data.reason_unavailable }} == connect_to_wifi">
                <h3 class="m0 pt30 pb20 center justify fs24 lh24">
                    WiFi Password Incorrect
                </h3>
                <p class="center fs18 lh24">
                    The credentials you passed to your Sisyphus were incorrect
                    and your phone has disconnected from the Sisyphus and reconnected
                    with your local router.
                </p>
                <div class="pb20 h__k" data-if="{{= parent.sisbot_reconnecting }} == false">
                    <p class="w100 p15 center btn bg-blue corner-5px fs18 lh18 uppercase h__k"
                        data-if="{{= app.is_app }} == true"
                        data-on-click="parent.open_network_settings_from_error"
                    >Open Wifi Settings</p>
                </div>
                <div class="pb20 h__k" data-if="{{= parent.sisbot_reconnecting }} == false">
                    <p class="w100 p15 center btn bg-blue corner-5px fs18 lh18 uppercase h__k"
                        data-if="{{= app.is_app }} == false"
                        data-on-click="parent.reconnect_to_hotspot"
                    >Attempt Reconnect</p>
                </div>
                <div class="p20 center i white pull-bottom h__k" data-if="{{= parent.sisbot_reconnecting }} == true">
                    <div class="h__k mb20 black" data-template="spinner-bounce-tmp"></div>
                    <div class="h__k black">
                        Connecting...
                    </div>
                </div>
            </div>
            <div class="h__k" data-if="{{= model.data.reason_unavailable }} == disconnect_from_wifi">
                <h3 class="m0 pt30 pb20 center justify fs24 lh24">
                    Sisyphus Disconnected from WiFi
                </h3>
                <p class="center fs18 lh24">
                    Your Sisyphus has become disconnected from WiFi. If you would
                    like to reconnect to your Sisyphus please open Wifi Settings
                    and reconnnect to the Sisyphus network.
                </p>
                <div class="pb20 h__k" data-if="{{= parent.sisbot_reconnecting }} == false">
                    <p class="w100 p15 center btn bg-blue corner-5px fs18 lh18 uppercase h__k"
                        data-if="{{= app.is_app }} == true"
                        data-on-click="parent.open_network_settings_for_hotspot"
                    >Open Wifi Settings</p>
                </div>
                <div class="pb20 h__k" data-if="{{= parent.sisbot_reconnecting }} == false">
                    <p class="w100 p15 center btn bg-blue corner-5px fs18 lh18 uppercase h__k"
                        data-if="{{= app.is_app }} == false"
                        data-on-click="parent.reconnect_to_hotspot"
                    >Reconnect to Sisyphus</p>
                </div>
                <div class="p20 center i black h__k" data-if="{{= parent.sisbot_reconnecting }} == true">
                    <div class="h__k mb20 black" data-template="spinner-bounce-tmp"></div>
                    <div class="black">Connecting...</div>
                </div>
            </div>
            <div class="h__k" data-if="{{= model.data.reason_unavailable }} == reset_to_hotspot">
                <h3 class="m0 pt30 pb20 center justify fs24 lh24">
                    Sisyphus Disconnected from WiFi
                </h3>
                <p class="center fs18 lh24">
                    Your Sisyphus has become disconnected from WiFi. If you would
                    like to reconnect to your Sisyphus please open Wifi Settings
                    and reconnnect to the Sisyphus network.
                </p>
                <div class="pb20 h__k" data-if="{{= parent.sisbot_reconnecting }} == false">
                    <p class="w100 p15 center btn bg-blue corner-5px fs18 lh18 uppercase h__k"
                        data-if="{{= app.is_app }} == true"
                        data-on-click="parent.open_network_settings_for_hotspot"
                    >Open Wifi Settings</p>
                </div>
                <div class="pb20 h__k" data-if="{{= parent.sisbot_reconnecting }} == false">
                    <p class="w100 p15 center btn bg-blue corner-5px fs18 lh18 uppercase h__k"
                        data-if="{{= app.is_app }} == false"
                        data-on-click="parent.reconnect_to_hotspot"
                    >Reconnect to Sisyphus</p>
                </div>
                <div class="p20 center i black h__k" data-if="{{= parent.sisbot_reconnecting }} == true">
                    <div class="h__k mb20 black" data-template="spinner-bounce-tmp"></div>
                    <div class="black">Connecting...</div>
                </div>
            </div>
            <div class="h__k" data-if="{{= model.data.reason_unavailable }} == servo_th_fault">
                <h3 class="m0 pt30 pb20 center justify fs24 lh24">
                    Servo Th Failed!
                </h3>
                <p class="center fs18 lh24">
                    Your table is experiencing a hardware failure. Please contact Sisyphus support to troubleshoot
                    your Sisyphus.
                </p>
                <div class="pb20">
                    <p class="w100 mb20 p15 center btn bg-blue corner-5px fs18 lh18 uppercase h__k"
                        data-on-click="parent.open_support_page"
                    >Learn How To Fix</p>
                </div>
            </div>
            <div class="h__k" data-if="{{= model.data.reason_unavailable }} == servo_rho_fault">
                <h3 class="m0 pt30 pb20 center justify fs24 lh24">
                    Servo Rho Failed!
                </h3>
                <p class="center fs18 lh24">
                    Your table is experiencing a hardware failure. Please contact Sisyphus support to troubleshoot
                    your Sisyphus.
                </p>
                <div class="pb20">
                    <p class="w100 mb20 p15 center btn bg-blue corner-5px fs18 lh18 uppercase h__k"
                        data-on-click="parent.open_support_page"
                    >Learn How To Fix</p>
                </div>
            </div>
        </div>
    </div>
</div>
