<div class="sisyphus-unavailable-tmp">
    <div class="app-container bg-white">
        <div class="hh50 w100 bg-black no-stuffing h__k"
            data-template="sisyphus-header-default-tmp"
        ></div>
        <div class="bg-white black pl40 pr40 h__k" data-model="{{= model.sisbot_id }}">
            <p class="no-stuffing fa fa-exclamation-triangle f-xxxlarge red center w100 mt40" aria-hidden="true"></>
            <div class="h__k" data-if="{{= model.data.reason_unavailable }} == false">
                <h3 class="m0 pt30 pb20 center justify fs24 lh24">
                    Connection Lost!
                </h3>
                <p class="center fs18 lh24">
                    The connection with your Sisyphus table has been lost and could not be restored
                </p>
                <p class="pt20 center fs18 lh24 h__k" data-if="{{= model.is_polling }} == true">
                    Attempting to reconnect now.
                </p>
                <div class="pb20">
                    <p class="w100 mb20 p15 center btn bg-blue corner-5px fs18 lh18 uppercase h__k"
                        data-if="{{= model.is_polling }} == false"
                    >Learn How To Fix</p>
                    <p class="w100 mt100 mb20 p15 center blue fs18 lh18 uppercase clickable h__k"
                        data-if="{{= model.is_polling }} == false"
                        data-on-click="model._poll_restart"
                    >Retry Connecting</p>
                    <div class="p20 center i black h__k" data-if="{{= model.is_polling }} == true">
                        <div class="h__k mb20 black" data-template="spinner-bounce-tmp"></div>
                        <div class="h__k fs18 lh18">
                            Reconnecting...
                        </div>
                    </div>
                </div>
            </div>
            <div class="h__k" data-if="{{= model.data.reason_unavailable }} == connect_to_wifi">
                <h3 class="m0 pt30 pb20 center justify fs24 lh24">
                    WiFi Password Incorrect
                </h3>
                <p class="center fs18 lh24">
                    The credentials you passed to your Sisyphus were incorrect
                    and your phone has disconnected from the Sisyphus and reconnected
                    with your local router.
                </p>
                <div class="pb20 h__k" data-if="{{= parent.sisbot_reconnecting }} == false">
                    <p class="w100 p15 center btn bg-blue corner-5px fs18 lh18 uppercase h__k"
                        data-if="{{= app.is_app }} == true"
                        data-on-click="parent.open_network_settings_from_error"
                    >Open Wifi Settings</p>
                </div>
                <div class="pb20 h__k" data-if="{{= parent.sisbot_reconnecting }} == false">
                    <p class="w100 p15 center btn bg-blue corner-5px fs18 lh18 uppercase h__k"
                        data-if="{{= app.is_app }} == false"
                        data-on-click="parent.reconnect_from_error"
                    >Attempt Reconnect</p>
                </div>
                <div class="p20 center i white pull-bottom h__k" data-if="{{= parent.sisbot_reconnecting }} == true">
                    <div class="h__k mb20 black" data-template="spinner-bounce-tmp"></div>
                    <div class="h__k">
                        Connecting...
                    </div>
                </div>
            </div>
            <div class="h__k" data-if="{{= model.data.reason_unavailable }} == disconnect_from_wifi">
                <h3 class="m0 pt30 pb20 center justify fs24 lh24">
                    Sisyphus Disconnected from WiFi
                </h3>
                <p class="center fs18 lh24">
                    Your Sisyphus has become disconnected from WiFi. If you would
                    like to reconnect to your Sisyphus please open Wifi Settings
                    and reconnnect to the Sisyphus network.
                </p>
                <div class="pb20 h__k" data-if="{{= parent.sisbot_reconnecting }} == false">
                    <p class="w100 p15 center btn bg-blue corner-5px fs18 lh18 uppercase h__k"
                        data-if="{{= app.is_app }} == true"
                        data-on-click="parent.open_network_settings_from_error"
                    >Open Wifi Settings</p>
                </div>
                <div class="pb20 h__k" data-if="{{= parent.sisbot_reconnecting }} == false">
                    <p class="w100 p15 center btn bg-blue corner-5px fs18 lh18 uppercase h__k"
                        data-if="{{= app.is_app }} == false"
                        data-on-click="parent.reconnect_to_hotspot"
                    >Reconnect to Sisyphus</p>
                </div>
                <div class="p20 center i black h__k" data-if="{{= parent.sisbot_reconnecting }} == true">
                    <div class="h__k mb20 black" data-template="spinner-bounce-tmp"></div>
                    <div>Connecting...</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div>
    <div class="body-header">
        <div class="pull-top bg-white w100">
            <div class="white bg-black w100 center no-stuffing flex">
                <div class="w15 pt20 center f-large">&nbsp;</div>
                <div class="w70">
                    <h1 class="h__k no-stuffing pt10 pb10 capitalize">Sisyphus Unavailable</h1>
                </div>
                <div class="w15 pt20 center f-large">&nbsp;</div>
            </div>
        </div>
        <div class="h__k bg-white black">
            <div>&nbsp;</div>
            <div class="bg-grey-ll ml10 mr10 p20 center h__k" data-model="{{= model.sisbot_id }}">
                <div class="h__k" data-if="{{= model.data.reason_unavailable }} == false">
                    <i class="fa fa-exclamation-triangle f-xxxxxlarge" aria-hidden="true"></i>
                    <div class="pt50 left justify">We are having difficulty connecting to your Sisyphus.
                        Check your network list for "<span class="strong h__k">{{= model.data.hostname.replace('.local', '') }}</span>" to see if it reverted back to a hotspot.
					</div>
                    <div class="pt10 left justify">
					    If it is not available as a hotspot, and the this issue does not go away after 30 seconds please unplug and replug in your Sisyphus table.
					</div>
                    <div class="pt10 left justify">
					    If this issue does not disappear on restart, please contact us.
                    </div>
                    <div class="p10 pt50 i clickable center h__k"
                        data-on-click="model.disconnect"
                    >Disconnect from Sisyphus</div>
                </div>
                <div class="h__k" data-if="{{= model.data.reason_unavailable }} == reset_to_hotspot">
                    <i class="fa fa-exclamation-triangle f-xxxxxlarge" aria-hidden="true"></i>
                    <div class="pt50 left justify">The Sisyphus table is no longer on this network.
                        Look in your network list for a network named "<span class="strong h__k">{{= model.data.hostname.replace('.local', '') }}</span>".
                    </div>
                    <div class="pt10 left justify">
                        If the network does not show in your network list within 5 minutes,
                            please unplug and replug in your Sisyphus table.
                    </div>
                </div>
                <div class="h__k" data-if="{{= model.data.reason_unavailable }} == connect_to_wifi">
                    <i class="fa fa-exclamation-triangle f-xxxxxlarge" aria-hidden="true"></i>
                    <div class="pt50 left justify">The Sisyphus table is no longer a hotspot.
                        Connect to "<span class="strong h__k">{{= model.data.wifi_network }}</span>" in your network list to reconnect to the Sisyphus table.
                    </div>
                    <div class="pt10 left justify">
                        If you are unable to connect to the table in 5 minutes,
                            please unplug and replug in your Sisyphus table.
                    </div>
                    <div class="pt10 left justify">
                        If you are still unable to connect to the table after restarting,
                            check your network list for "<span class="strong h__k">{{= model.data.hostname.replace('.local', '') }}</span>" to see if it reverted back to a hotspot.
                        <br />
                        <br />
                        If it has reverted back to a hotspot, check your credentials and try again.
                    </div>
                </div>
                <div class="h__k" data-if="{{= model.data.reason_unavailable }} == resetting">
                    <i class="fa fa-exclamation-triangle f-xxxxxlarge" aria-hidden="true"></i>
                    <div class="pt50 left justify">The Sisyphus table is resetting to factory settings.
											It should reconnect in a few minutes.
										</div>
                    <div class="pt10 left justify">
                        If the network does not show in your network list within 5 minutes,
                            please unplug and replug in your Sisyphus table.
                    </div>
                </div>
                <div class="h__k" data-if="{{= model.data.reason_unavailable }} == restarting">
                    <i class="fa fa-exclamation-triangle f-xxxxxlarge" aria-hidden="true"></i>
                    <div class="pt50 left justify">The Sisyphus table is restarting.
											It should reconnect in a minute or less.
										</div>
                    <div class="pt10 left justify">
                        If the network does not show in your network list within 5 minutes,
                            please unplug and replug in your Sisyphus table.
                    </div>
                </div>
                <div class="h__k" data-if="{{= model.data.reason_unavailable }} == rebooting">
                    <i class="fa fa-exclamation-triangle f-xxxxxlarge" aria-hidden="true"></i>
                    <div class="pt50 left justify">The Sisyphus table is rebooting.
											It should reconnect in a few minutes.
										</div>
                    <div class="pt10 left justify">
                        If the network does not show in your network list within 5 minutes,
                            please unplug and replug in your Sisyphus table.
                    </div>
                </div>
                <div class="h__k" data-if="{{= model.data.reason_unavailable }} == fault_detected">
                    <i class="fa fa-exclamation-triangle f-xxxxxlarge" aria-hidden="true"></i>
                    <div class="pt50 left justify">A servo motor error has been detected in your Sisyphus table
                        and will not run until it is reset. Try unplugging your table and plugging it back in.
                    </div>
                    <div class="pt10 left justify">
                        If you see this error message again, send an email to support@sisyphus-industries.com and we will assist you.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->

<div class="nav-tmp">
    <!--
    <ul class="no-stuffing">
        <li class="m0">
            <div class="flex bg-d-grey">
                <i class="fa fa-search w5 p10"></i>
                <input class="ml15 w80 white bb-dark" type="text" placeholder="Search..." />
            </div>
        </li>
    </ul>
    -->
    <div>
        <div class="h__k"
            data-if="{{= model.active.primary }} !== false"
            data-template="{{= model.active.primary }}-nav-tmp"
        ></div>
    </div>
</div>

<div class="debug-tmp">
    <div class="bg-grey-ll no-stuffing p10 bt h__k" data-if="{{= app.current_session().get('debug_mode') }} == true" data-state="{'admin_expanded':'false'}">
        <div class="no-stuffing pull-right inline h__k" data-field="model.admin_expanded" data-on-click="toggle">
            <i class="fa fa-bars"></i>
        </div>
        <div class="p10 h__k">Internal Reference ID: {{= model.id }}</div>
        <div class="h__k" data-if="{{= model.admin_expanded }} == true" data-template="pre-tmp"></div>
    </div>
</div>

<div class="pre-tmp">
    <pre class="h__k">{{= JSON.stringify(model, null, 2) }}</pre>
</div>

<div class="loading-tmp">
    <p class="center no-stuffing">LOADING</p>
</div>

<div class="unfetchable-tmp">
    <h1 class="center no-stuffing hidden">Unfetchable: {{= model.id }}</h1>
</div>

<div class="null-view-tmp">
    <div>&nbsp;</div>
</div>

<div class="print-preview-tmp">
    <div class="h__k" data-model="{{= app.current_session().id }}">
        <div class="h__k" data-if="{{= model.is_downloading }} == true"><div class="w25p inline"><i class="fa fa-spinner spin" aria-hidden="true"></i></div> Generating Screenshot</div>
        <div class="h__k"
            data-if="{{= model.is_downloading }} == false"
            data-on-click="set"
            data-field="model.preview_content"
            data-value="{{= _self_.html_clone() }}"
            data-clone=".container"
        ><i class="fa fa-print w25p"></i> Take Screenshot</div>
    </div>
</div>
